.header {
  position: sticky;
  top: 0;
  z-index: 3;
  height: 90px;
  background-color: #aaaaaa;
  border: var(--border);
  transition: background-color 500ms linear;
}
.header__navi {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px auto;
}
.header__navi a {
  color: var(--primary-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px; /* 125% */
}
.header__navi a:hover:not(:first-child) {
  border-bottom: var(--border);
}

@media screen and (min-width: 1362px) {
  .header__navi {
    min-width: 1312px;
    gap: 48px;
  }
  .header__navi a {
    font-size: 20px;
  }
}
@media screen and (min-width: 958px) and (max-width: 1361px) {
  .header__navi {
    width: 896px;
    gap: 48px;
  }
  .header__navi a {
    font-size: 20px;
  }
}
