:global(.Toastify__toast-container) {
  position: fixed;
  top: 70px;
  right: 15;
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.activeButton svg {
  fill: var(--primary-red) !important;
  stroke: var(--primary-red) !important;
}
